#textEditor {
    margin: 0 auto;
    width: 752px;
    height: 300px;
}

#titleArea {
    border-bottom: none;
    padding: 10px;
    background-color: rgb(165, 107, 186);
    color: white;
    border-radius: 8px 8px 0px 0px;
}

div#titleArea > button {
    background-color:azure;
    cursor: pointer;
}

#textArea {
    border: 3px solid rgb(165, 107, 186);
    height: 100%;
    width: 746px;
}

#mainTitle h2 {
  font-family: arial; 
  margin-left: 600px;
}

#submitButton {
    margin-left: 320px;
    margin-top: 10px;
}

iframe {
    width: 100%;
    height: 99.5%;
}

input[value:"abc"]{
    text-decoration: line-through;
}

#showButton {
    width: 100px;
    height: 40px;
 -moz-transition: all 0.3s ease-out;
 -o-transition: all 0.3s ease-out;
 -webkit-transition: all 0.3s ease-out;
}

#showButton:hover {
 -webkit-transform: scale(1.2);
 -moz-transform: scale(1.2);
 -o-transform: scale(1.2);
}

.jscolor {
   width: 50px; 
}